<!-- Category table Start -->
<div th:fragment="data-table" xmlns:th="http://www.w3.org/1999/xhtml" class="container-fluid vh-100">
    <div class=" row justify-content-center bg-light rounded h-100">
        <div class="d-flex flex-column">
            <div class="row p-4">
                <div class="col-10">
                    <h5 class="mb-4 table-name"></h5>
                </div>
                <div class="col-2 d-flex justify-content-end">
                    <button class="btn btn-primary table-load-trigger"><i
                            class="fa-solid fa-arrows-rotate"></i>Reload</button>
                </div>
            </div>
            <div class="col-12 flex-grow-1">
                <div class="table-data">
                    <div class="row table-query" >
                    </div>
                    <div class="table-responsive table-fields">
                        <table class="table table-hover table-striped">
                            <thead>

                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="table-spinner">
                        <div class="spinner-border table-spinner-icon " role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- Category table End -->

<!-- Pagination Start -->

<div th:fragment="table-pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
        </ul>
    </nav>
</div>
<!-- Pagination End -->