<div th:fragment="left-navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="btn-navbar">
        <span class="fas fa-bars"></span>
    </div>
    <nav class="sidebar">
        <div class="text">
            Call Center Emulator
        </div>
        <ul class="main_side">
            <li th:classappend="${isHome} ? active"><a href="/home">Home</a></li>
            <li th:classappend="${isService} ? active">
                <a href="#" id="1">Services
                    <span class="fas fa-caret-down"></span>
                </a>
                <ul class="item-show-1">
                    <li><a href="/workplace/attendant">attendant</a></li>
                    <li><a href="/workplace/gps-locator">GPS Locator</a></li>
                    <li><a href="/workplace/customer-care">Customer Care</a></li>
                </ul>
            </li>
            <li><a id="myprofile" href="#">My Profile</a></li>
            <li><a id="logout" href="#">Logout</a></li>
        </ul>
    </nav>
</div>